POSTGRES_PASSWORD=string
SECRET_KEY_BASE=string
PHX_HOST=string
SITE_ADDRESS=string
BGG_BEARER_TOKEN=string
POSTGRES_DB=string
POSTGRES_USER=string
MAILER_ADAPTER=string
MAILER_API_KEY=string
MAILER_SENDER_NAME=string
MAILER_SENDER_EMAIL=string
GITHUB_PAT=string
ALERT_RECIPIENTS=string
CSP_MODE=string
