<ReccoWeb.Navigation.navbar current_user={assigns[:current_user]} />
<main id="main-content" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
